.CounterContainer {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
.Button {
    margin: 0 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
  